<<<<<<< HEAD
#main-panel
{
    display:flex;
    height: 100%;
}
body{
    height:800px;
}
#right-panel
{
    padding-left:15%;
    padding-top:5%;
    background:white url("/assets/logo_bckground.png") no-repeat center 0.3;
    background-size: 100%;
}
.form-control{
    width:20%;
    display: block;
    border : 1px solid white;
}
.cbox{
    padding-top: 10%;
}
#container1{
height:100%;
}

#right-panel p a{
    margin-left: 95%;
}
#left-bar{
background-color: blue;
width:20%;
}
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> 107955331a3287aed8457845625dd6d9a8c823c5
